.printArea * {
    background-color: white;
}


.printParent {
    min-width: 1040px;
    text-align: left;
   padding:5mm;
    font-size: 1.3rem;
}

h2 {
    text-align: center;
}

.noMargin {
    margin: 0;
}
