.CardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.CardGrid>a{
    height: auto;
}

.CardGrid>a>div{
    height: 100%;
}

.CardGrid .MuiButtonBase-root {
    height: 100%;
}
