.CardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.CardGrid > a {
    height: auto;
    padding: 10px;
}

.CardGrid > a > div {
    height: 100%;
}

.CardGrid .MuiButtonBase-root {
    height: 100%;
}

.CardGrid::after {
    content: '';
    width: calc(345px + (10px * 2));
}
