@media only screen and (max-width: 480px) {
    .single-row-table th,
    .single-row-table td {
        width: 100%;
        display: block;
    }

    .single-row-table th {
        width: 100%;
    }

    .single-row-table td {
        padding-top: 0;
    }

    .single-row-table thead {
        display: none;
    }
}

.survey {
    margin: 0 auto;
}

.survey > div {

    margin: 0 10px;
}
